body {
	background-color: white;
	font: 16px Helvetica, Arial, serif;	
	margin: 20px 0 20px 0;
}

header{
	width: 500px;
	margin: 0 auto 0 auto;	
}

header h1{	
	background-color: #D0A9F5;
	color: white;
	font-size: 3.125em;
	text-align: center;	
	padding: 10px;
}

section {
	width: 400px;
	margin: 0 auto 0 auto;
	font-size: 1.5625em;
}